<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div th:fragment="topBar">
        <!-- <div sec:authorize="isAuthenticated()">
            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            </form>
        </div>
        <div class="row">
            <div class="row white">
                <div class="col s6">
                    <h4 class="bold" th:text="'QaDoc'" />
                </div>

                <div class="col s6">
                    <p class="right-align">
                        Welcome <span sec:authentication="name"></span> | <a
                            onclick="document.forms['logoutForm'].submit()">Logout</a>
                    </p>
                </div>

            </div>

        </div> -->

        <div class="row">
        <nav>
            <div class="nav-wrapper teal">
                <div class="row">
                    <div class="col s4">
                        <a href="/" class="brand-logo">QaDoc</a>
                    </div>
                    <div class="col s4">
                        <ul id="nav-mobile" class="center hide-on-med-and-down">

                            <li class="col s4">
                                <a href="/">Home
                                    <i class="material-icons left">home</i>
                                </a>
                            </li>
                            <li class="col s4">
                                <a href="/list">Tests
                                    <i class="material-icons left">list</i>
                                </a>
                            </li>
                            <li class="col s4">
                                <a href="#" >Tags
                                    <i class="material-icons left">apps</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col s4">
                        <li class="right-align"> Welcome <span sec:authentication="name"></span>
                            | <a href="#" onclick="document.forms['logoutForm'].submit()">Logout</a>
                        </li>
                        <form id="logoutForm" method="POST" th:action="@{/logout}">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                        </form>
                    </div>
                </div>
            </div>
          </nav>
          </div>







    </div>
    <script>
        M.AutoInit();
    </script>
</body>

</html>