<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test data</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Custom css -->
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>
    <div sec:authorize="isAuthenticated()">
        <form id="logoutForm" method="POST" th:action="@{/logout}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
    </div>

    <div class="row">
        <div class="col s6">
            <p th:text="'QaDoc'" />
        </div>
        <div class="col s6">
          <p class="right-align" >Welcome <span sec:authentication="name"></span> | <a onclick="document.forms['logoutForm'].submit()">Logout</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <table class="striped responsive-table highlight" >
                <thead>
                    <tr>
                        <th class="col s1"> Id </th>
                        <th class="col s5"> Name </th>
                        <th class="col s5"> Description </th>
                    </tr>
                </thead>
                <tbody class="">
                <tr class="" th:if="${Test.empty}">
                        <td colspan="2"> No Tests </td>
                    </tr>
                    <tr class="hoverable" th:each="Test : ${Test}">
                        <td class="col s1 table-row-bigger" th:text="${Test.Id}"> Id </td>
                        <td class="col s5 table-row-bigger break-word" th:text="${Test.name}"> Name </td>
                        <td class="col s5 table-row-bigger break-word" th:text="${Test.description}"> Description </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        M.AutoInit();
    </script>
</body>
</html>