<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test data</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Custom css -->
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body class="blue-grey lighten-5">

    <div th:insert="~{fragments/topBar :: topBar}"></div>

    <div class="container white z-depth-2">
        <div class="row">
            <div class="col s12">
                <table class="highlight responsive-table">
                    <thead>
                        <tr>
                            <th class="col s1"> ID </th>
                            <th class="col s5"> Name </th>
                            <th class="col s5"> Description </th>
                        </tr>
                    </thead>
                    <tbody class="">
                    <tr class="" th:if="${Test.empty}">
                            <td colspan="2"> No Tests </td>
                        </tr>
                        <tr class="hoverable" th:each="Test : ${Test}">
                            <td class="col s1 table-row-bigger valign-wrapper" th:text="${Test.Id}"> Id </td>
                            <td class="col s5 table-row-bigger break-anywhere valign-wrapper" th:text="${Test.name}"> Name </td>
                            <td class="col s5 table-row-bigger break-anywhere valign-wrapper" th:text="${Test.description}"> Description </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        M.AutoInit();
    </script>
</body>
</html>