<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Test data</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Custom css -->
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body class="blue-grey lighten-5">

    <div th:insert="~{fragments/topBar :: topBar}"></div>


    <div sec:authorize="isAuthenticated()">
        <form id="logoutForm" method="POST" th:action="@{/logout}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        </form>

        <div class="container">

            <div class="row white z-depth-2">
                <div class="col s12">

                    <div class="row">
                        <div class="col s12 grey-text">
                            <ul class="pagination grey-text valign-wrapper" onclick="history.back()">
                                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                                <li class="waves-effect"><a href="#!">Go back</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row" th:each="Test : ${Test}">
                        <div class="row">
                            <div class="row">
                                <span class="new badge blue left" data-badge-caption="Name"></span>
                            </div>
                            <div class="col s9 offset-s1 break-anywhere">
                                <h4 class="center-align break-anywhere" th:text="${Test.name}"> Name </h4>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="determinate" style="width: 0%"></div>
                        </div>
                        <!-- <hr> -->
                        <div class="row">
                            <div class="row">
                                <span class="new badge blue left" data-badge-caption="Tags"></span>
                            </div>
                            <div class="row">
                                <div class="col s9 offset-s1">
                                    <div class="chip">
                                        Coming soon
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="determinate" style="width: 0%"></div>
                        </div>
                        <!-- <hr> -->
                        <div class="row">
                            <div class="row">
                                <span class="new badge blue left" data-badge-caption="Description"></span>
                            </div>
                            <div class="row">
                                <div class="col s9 offset-s1" th:text="${Test.description}">
                                    Description
                                </div>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>

    </div>

    <script>
        M.AutoInit();
    </script>
</body>

</html>